<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<h2>Steps</h2>
<%= render @task.steps %>

<h2>Add a step:</h2>
<%= render "steps/form" %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
